{% extends 'base.html.twig' %}

{% block body %}
    <h1>Episode</h1>

    <table>
        <tbody>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ episode.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Name</th>
                <td>{{ episode.name }}</td>
            </tr>
            <tr>
                <th>Episodenumber</th>
                <td>{{ episode.episodeNumber }}</td>
            </tr>
            <tr>
                <th>Datepublished</th>
                <td>{% if episode.datePublished %}{{ episode.datePublished|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ episode.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ episode.image }}</td>
            </tr>
            <tr>
                <th>You have watched this episode at</th>
                <td>
                    {% for ue in userEpisode %}
                        {{ ue.watechedAt|date('Y-m-d H:i:s') }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_episode_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('admin_episode_edit', { 'id': episode.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
