{% extends '@CAOTvSeries/layout.html.twig' %}

{% block content %}
    <h1>Tvseries list</h1>

    <table>
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Name</th>
                <th>Author</th>
                <th>Releaseat</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tvSeries in tvSeries %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('admin_tvseries_show', { 'id': tvSeries.id }) }}">{{ tvSeries.id }}</a></td>
                {% endif %}
                <td>{{ tvSeries.name }}</td>
                <td>{{ tvSeries.author }}</td>
                <td>{% if tvSeries.releaseAt %}{{ tvSeries.releaseAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tvSeries.description }}</td>
                <td>{{ tvSeries.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_tvseries_show', { 'id': tvSeries.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin_tvseries_edit', { 'id': tvSeries.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('admin_tvseries_new') }}">Create a new tvSeries</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
