{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tvseries</h1>

    <table>
        <tbody>
            {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <th>Id</th>
                    <td>{{ tvSeries.id }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Name</th>
                <td>{{ tvSeries.name }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ tvSeries.author }}</td>
            </tr>
            <tr>
                <th>Releaseat</th>
                <td>{% if tvSeries.releaseAt %}{{ tvSeries.releaseAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tvSeries.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ tvSeries.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tvseries_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('admin_tvseries_edit', { 'id': tvSeries.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
